# باینری‌های ساخته‌شده
/bin/
*.exe
*.out
*.test

# فایل‌های ماژول Go (اگر دستی ساخته نشده باشند)
/go.sum

# فولدرهای وابستگی در صورت وجود
/vendor/

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db

# فایل‌های لاگ و کش
*.log
*.tmp

# خروجی‌های داکر (در صورت وجود)
docker-compose.override.yml

# اطلاعات خاص محیط توسعه
.idea/
.vscode/

# از خود .gitignore صرف‌نظر نکن
!.gitignore
